<%- include('header') -%>

<div class="container">
  <h1>Project Marketplace</h1>

  <div>
    <% for(let i=0; i<friends.length; i++) {%>
    <li><%= JSON.stringify(friends[i]) %></li>
    <li><%= JSON.stringify(owners[i]) %></li>
    <% } %>
  </div>

</div>
<%- include('footer') -%>