<%- include('header') -%>

<div class="container">
  <h1>Project Marketplace</h1>

<!-- <% for(let i=0; i<market.length; i++) {%>
<li><%= JSON.stringify(market[i]) %></li>
<% } %> -->

</div>
<%- include('footer') -%>